<!DOCTYPE html>
<html>
  <head>
    <title>Hello01 <%= @result %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      
      In the special template<br/>
    <%= yield %>
    <br />
      In the special template<br/>   
      <%= @message%> 
  </body>
</html>
